.e208_203 { 
	overflow:hidden;
}
.e208_203 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e208_204 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:58px;
	position:absolute;
	left:35px;
	top:225px;
	font-family:Lexend;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e208_205 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:76px;
	top:154px;
}
.e208_206 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:106px;
	top:154px;
}
.e208_207 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:136px;
	top:154px;
}
.e208_208 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:35px;
	top:144px;
}
.e208_208 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e208_209 { 
	width:111px;
	height:30px;
	position:absolute;
	left:35px;
	top:144px;
}
.e208_210 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:41px;
	top:10px;
}
.e208_211 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:71px;
	top:10px;
}
.e208_212 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:101px;
	top:10px;
}
.e208_213 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_213 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e208_235 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:166px;
	top:154px;
}
.e208_215 { 
	border-radius:500px;
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:337px;
	top:787px;
}
.e208_216 { 
	transform: rotate(-180deg);
	width:28px;
	height:26px;
	position:absolute;
	left:345px;
	top:797px;
	background-image:url(../images/imageedit_12_9415759683_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_217 { 
	border-radius:500px;
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:337px;
	top:787px;
}
.e208_218 { 
	transform: rotate(-180deg);
	width:28px;
	height:26px;
	position:absolute;
	left:345px;
	top:796px;
	background-image:url(../images/imageedit_12_9415759683_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_224 { 
	color:rgba(0, 0, 0, 1);
	width:289px;
	height:18px;
	position:absolute;
	left:34px;
	top:319px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e208_231 { 
	color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:289px;
	height:18px;
	position:absolute;
	left:35px;
	top:500px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e208_225 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e208_225 { 
	width:42px;
	height:0px;
	position:absolute;
	left:34px;
	top:464px;
}
.e208_227 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e208_227 { 
	width:42px;
	height:0px;
	position:absolute;
	left:144px;
	top:464px;
}
.e208_226 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e208_226 { 
	width:42px;
	height:0px;
	position:absolute;
	left:89px;
	top:464px;
}
.e208_228 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e208_228 { 
	width:42px;
	height:0px;
	position:absolute;
	left:199px;
	top:464px;
}
.e208_229 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e208_229 { 
	width:42px;
	height:0px;
	position:absolute;
	left:309px;
	top:464px;
}
.e208_230 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e208_230 { 
	width:42px;
	height:0px;
	position:absolute;
	left:254px;
	top:464px;
}
.e208_234 { 
	width:15px;
	height:15px;
	position:absolute;
	left:45px;
	top:154px;
	background-image:url(../images/1002900_200_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
