.e214_176 { 
	overflow:hidden;
}
.e214_176 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:988px;
	position:absolute;
}
.e214_177 { 
	color:rgba(0, 0, 0, 1);
	width:247px;
	height:58px;
	position:absolute;
	left:73px;
	top:20px;
	font-family:Lexend;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e214_178 { 
	width:30px;
	height:30px;
	position:absolute;
	left:9px;
	top:18px;
	background-image:url(../images/icon_ios7_arrow_back_512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_179 { 
	width:40px;
	height:40px;
	position:absolute;
	left:14px;
	top:61px;
}
.e214_180 { 
	overflow:hidden;
}
.e214_180 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e214_181 { 
	width:50px;
	height:48px;
	position:absolute;
	left:-5.33331298828125px;
	top:-4px;
	background-image:url(../images/screen_shot_2022_11_28_at_8_29_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_182 { 
	color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:100px;
	height:20px;
	position:absolute;
	left:62px;
	top:68px;
	font-family:Lexend;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e214_183 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:108px;
	top:85px;
	font-family:Lexend;
	text-align:left;
	font-size:9px;
	letter-spacing:0;
}
.e214_184 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:62px;
	top:86px;
}
.e214_185 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:95px;
	top:86px;
}
.e214_186 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:84px;
	top:86px;
}
.e214_187 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:73px;
	top:86px;
}
.e226_226 { 
	background-color:rgba(0, 0, 0, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:297px;
	top:443px;
}
.e226_227 { 
	background-color:rgba(0, 0, 0, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:342px;
	top:443px;
}
.e226_230 { 
	background-color:rgba(0, 0, 0, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:357px;
	top:443px;
}
.e226_228 { 
	background-color:rgba(0, 0, 0, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:327px;
	top:443px;
}
.e226_229 { 
	background-color:rgba(0, 0, 0, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:312px;
	top:443px;
}
.e214_226 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:118px;
	font-family:Lexend;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e226_232 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:319px;
	top:118px;
	font-family:Lexend;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e226_233 { 
	color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:316px;
	top:137px;
	font-family:Lexend;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e226_225 { 
	color:rgba(0, 0, 0, 1);
	width:366px;
	height:21px;
	position:absolute;
	left:15px;
	top:436px;
	font-family:Lexend;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e226_254 { 
	color:rgba(0, 0, 0, 1);
	width:366px;
	height:21px;
	position:absolute;
	left:15px;
	top:526px;
	font-family:Lexend;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e226_234 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:21px;
	position:absolute;
	left:14px;
	top:205px;
	font-family:Lexend;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e226_236 { 
	width:67px;
	height:22px;
	position:absolute;
	left:317px;
	top:157px;
}
.e226_237 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e226_237 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e226_238 { 
	color:rgba(0, 0, 0, 1);
	width:48.44615173339844px;
	height:15px;
	position:absolute;
	left:10px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e226_239 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e226_239 { 
	width:393.001220703125px;
	height:0px;
	position:absolute;
	left:-0.00014804727106820792px;
	top:192.2412109375px;
}
.e226_252 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e226_252 { 
	width:393.001220703125px;
	height:0px;
	position:absolute;
	left:1px;
	top:419px;
}
.e226_255 { 
	background-color:rgba(255, 255, 255, 1);
	width:366px;
	height:100px;
	position:absolute;
	left:15px;
	top:560px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e226_255 { 
	border:1px solid rgba(160.43749898672104, 160.43749898672104, 160.43749898672104, 1);
}
.e226_260 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:149px;
	top:603px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_259 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:149px;
	top:582px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_256 { 
	background-color:rgba(255, 255, 255, 1);
	width:366px;
	height:100px;
	position:absolute;
	left:14px;
	top:673px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e226_256 { 
	border:1px solid rgba(160.43749898672104, 160.43749898672104, 160.43749898672104, 1);
}
.e226_261 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:149px;
	top:714px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_262 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:21px;
	position:absolute;
	left:149px;
	top:693px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_257 { 
	background-color:rgba(255, 255, 255, 1);
	width:366px;
	height:100px;
	position:absolute;
	left:17px;
	top:786px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e226_257 { 
	border:1px solid rgba(160.43749898672104, 160.43749898672104, 160.43749898672104, 1);
}
.e226_263 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:21px;
	position:absolute;
	left:149px;
	top:827px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_264 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:21px;
	position:absolute;
	left:149px;
	top:806px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_258 { 
	background-color:rgba(255, 255, 255, 1);
	width:366px;
	height:71px;
	position:absolute;
	left:17px;
	top:899px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e226_258 { 
	border:1px solid rgba(160.43749898672104, 160.43749898672104, 160.43749898672104, 1);
}
.e226_265 { 
	color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:217px;
	height:21px;
	position:absolute;
	left:149px;
	top:924px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_266 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:585px;
	background-image:url(../images/safety_111_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_267 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:696px;
	background-image:url(../images/1742254_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_268 { 
	width:40px;
	height:40px;
	position:absolute;
	left:65px;
	top:915px;
	background-image:url(../images/1017519_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_269 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:811px;
	background-image:url(../images/703579_gear_512x512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_240 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:16px;
	top:233px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_241 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:16px;
	top:254px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_242 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:16px;
	top:294px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_243 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:16px;
	top:315px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_244 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e226_244 { 
	width:377.0146179199219px;
	height:0px;
	position:absolute;
	left:16px;
	top:283px;
}
.e226_245 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:16px;
	top:360px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_247 { 
	color:rgba(0, 0, 0, 1);
	width:180px;
	height:21px;
	position:absolute;
	left:16px;
	top:381px;
	font-family:Lexend;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e226_248 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e226_248 { 
	width:377.0010681152344px;
	height:0px;
	position:absolute;
	left:16px;
	top:348px;
}
.e226_253 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:393px;
	height:26px;
	position:absolute;
	left:0px;
	top:479px;
}
