.e214_400 { 
	overflow:hidden;
}
.e214_400 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:1027px;
	position:absolute;
}
.e214_404 { 
	width:30px;
	height:30px;
	position:absolute;
	left:9px;
	top:18px;
	background-image:url(../images/icon_ios7_arrow_back_512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_405 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:120px;
}
.e214_406 { 
	overflow:hidden;
}
.e214_406 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e214_407 { 
	width:50px;
	height:48px;
	position:absolute;
	left:-5.33331298828125px;
	top:-4px;
	background-image:url(../images/screen_shot_2022_11_28_at_8_29_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_408 { 
	color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:100px;
	height:20px;
	position:absolute;
	left:63px;
	top:128px;
	font-family:Lexend;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e214_409 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:109px;
	top:144px;
	font-family:Lexend;
	text-align:left;
	font-size:9px;
	letter-spacing:0;
}
.e214_410 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:63px;
	top:145px;
}
.e214_411 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:96px;
	top:145px;
}
.e214_412 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:85px;
	top:145px;
}
.e214_413 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:74px;
	top:145px;
}
.e214_429 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:58px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e214_450 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:183px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e214_455 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:13px;
	top:284px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e214_456 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:439px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e214_452 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:666px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e214_460 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_464 { 
	width:40px;
	height:40px;
	position:absolute;
	left:197px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_463 { 
	width:40px;
	height:40px;
	position:absolute;
	left:152px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_461 { 
	width:40px;
	height:40px;
	position:absolute;
	left:61px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_462 { 
	width:40px;
	height:40px;
	position:absolute;
	left:106px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_465 { 
	width:177px;
	height:25px;
	position:absolute;
	left:13px;
	top:317px;
}
.e214_466 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:177px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e214_467 { 
	color:rgba(255, 255, 255, 1);
	width:135.35293579101562px;
	height:17px;
	position:absolute;
	left:21px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_42 { 
	width:95px;
	height:25px;
	position:absolute;
	left:195px;
	top:317px;
}
.e226_43 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:89.13733673095703px;
	height:25px;
	position:absolute;
	left:2.807579755783081px;
	top:-4.547473508864641e-13px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_44 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_48 { 
	width:95px;
	height:25px;
	position:absolute;
	left:144px;
	top:349px;
}
.e226_49 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:89.13733673095703px;
	height:25px;
	position:absolute;
	left:2.807579755783081px;
	top:-4.547473508864641e-13px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_50 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_54 { 
	width:95px;
	height:25px;
	position:absolute;
	left:13px;
	top:381px;
}
.e226_55 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:89.13733673095703px;
	height:25px;
	position:absolute;
	left:2.807579755783081px;
	top:-4.547473508864641e-13px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_56 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_51 { 
	width:130.75807189941406px;
	height:25px;
	position:absolute;
	left:244px;
	top:349px;
}
.e226_52 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:130.75807189941406px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_53 { 
	color:rgba(255, 255, 255, 1);
	width:117.79032135009766px;
	height:17px;
	position:absolute;
	left:6.758064270019531px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_45 { 
	width:135.35293579101562px;
	height:25px;
	position:absolute;
	left:9px;
	top:349px;
}
.e226_46 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:127px;
	height:25px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_47 { 
	color:rgba(255, 255, 255, 1);
	width:135.35293579101562px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e214_468 { 
	width:359px;
	height:35px;
	position:absolute;
	left:15px;
	top:976px;
}
.e214_469 { 
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:359px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e214_470 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:24px;
	position:absolute;
	left:125px;
	top:6px;
	font-family:Lexend;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e214_453 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:393px;
	height:26px;
	position:absolute;
	left:0px;
	top:626px;
}
.e226_68 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:393px;
	height:26px;
	position:absolute;
	left:0px;
	top:626px;
}
.e226_137 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:393px;
	height:26px;
	position:absolute;
	left:0px;
	top:884px;
}
.e226_57 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:138px;
	position:absolute;
	left:16px;
	top:470px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e226_57 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:111px;
	height:80px;
	position:absolute;
	left:142px;
	top:702px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_60 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_75 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:121px;
	top:748px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_70 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:29px;
	position:absolute;
	left:167px;
	top:722px;
	font-family:Lexend;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e226_63 { 
	background-color:rgba(255, 255, 255, 1);
	width:111px;
	height:80px;
	position:absolute;
	left:264px;
	top:702px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_63 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_76 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:246px;
	top:748px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_71 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:29px;
	position:absolute;
	left:289px;
	top:722px;
	font-family:Lexend;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e226_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:111px;
	height:80px;
	position:absolute;
	left:16px;
	top:702px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_62 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_74 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:0px;
	top:748px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_69 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:29px;
	position:absolute;
	left:45px;
	top:722px;
	font-family:Lexend;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e226_64 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:37px;
	position:absolute;
	left:16px;
	top:789px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_64 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_72 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:122px;
	top:799px;
	font-family:Lexend;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e226_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:37px;
	position:absolute;
	left:15px;
	top:833px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_65 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_73 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:122px;
	top:842px;
	font-family:Lexend;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e226_58 { 
	color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:366px;
	height:21px;
	position:absolute;
	left:31px;
	top:483px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e226_67 { 
	transform: rotate(-9.93923337957349e-17deg);
	width:393.0203552246094px;
	height:0px;
	position:absolute;
	left:-1px;
	top:962px;
}
.e226_67 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e226_138 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:21px;
	position:absolute;
	left:162.00048828125px;
	top:921.5px;
	font-family:Lexend;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
.e226_139 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e226_139 { 
	width:393.034423828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:910px;
}
