.e226_77 { 
	overflow:hidden;
}
.e226_77 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e226_78 { 
	width:30px;
	height:30px;
	position:absolute;
	left:9px;
	top:18px;
	background-image:url(../images/icon_ios7_arrow_back_512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_79 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:120px;
}
.e226_80 { 
	overflow:hidden;
}
.e226_80 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e226_81 { 
	width:50px;
	height:48px;
	position:absolute;
	left:-5.33331298828125px;
	top:-4px;
	background-image:url(../images/screen_shot_2022_11_28_at_8_29_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_82 { 
	color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:100px;
	height:20px;
	position:absolute;
	left:63px;
	top:128px;
	font-family:Lexend;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e226_83 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:109px;
	top:144px;
	font-family:Lexend;
	text-align:left;
	font-size:9px;
	letter-spacing:0;
}
.e226_84 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:63px;
	top:145px;
}
.e226_85 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:96px;
	top:145px;
}
.e226_86 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:85px;
	top:145px;
}
.e226_87 { 
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:74px;
	top:145px;
}
.e226_88 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:58px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e226_89 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:183px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e226_90 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:13px;
	top:284px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e226_91 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:439px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e226_92 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:29px;
	position:absolute;
	left:15px;
	top:666px;
	font-family:Lexend;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e226_93 { 
	width:40px;
	height:40px;
	position:absolute;
	left:15px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_94 { 
	width:40px;
	height:40px;
	position:absolute;
	left:197px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_95 { 
	width:40px;
	height:40px;
	position:absolute;
	left:152px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_96 { 
	width:40px;
	height:40px;
	position:absolute;
	left:61px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_97 { 
	width:40px;
	height:40px;
	position:absolute;
	left:106px;
	top:216px;
	background-image:url(../images/imageedit_4_7332780450_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_98 { 
	width:177px;
	height:25px;
	position:absolute;
	left:13px;
	top:317px;
}
.e226_99 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:177px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_100 { 
	color:rgba(255, 255, 255, 1);
	width:135.35293579101562px;
	height:17px;
	position:absolute;
	left:21px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_101 { 
	width:95px;
	height:25px;
	position:absolute;
	left:195px;
	top:317px;
}
.e226_102 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:89.13733673095703px;
	height:25px;
	position:absolute;
	left:2.807579755783081px;
	top:-4.547473508864641e-13px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_103 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_104 { 
	width:95px;
	height:25px;
	position:absolute;
	left:144px;
	top:349px;
}
.e226_105 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:89.13733673095703px;
	height:25px;
	position:absolute;
	left:2.807579755783081px;
	top:-4.547473508864641e-13px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_106 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_107 { 
	width:95px;
	height:25px;
	position:absolute;
	left:13px;
	top:381px;
}
.e226_108 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:89.13733673095703px;
	height:25px;
	position:absolute;
	left:2.807579755783081px;
	top:-4.547473508864641e-13px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_109 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_110 { 
	width:130.75807189941406px;
	height:25px;
	position:absolute;
	left:244px;
	top:349px;
}
.e226_111 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:130.75807189941406px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_112 { 
	color:rgba(255, 255, 255, 1);
	width:117.79032135009766px;
	height:17px;
	position:absolute;
	left:6.758064270019531px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_113 { 
	width:135.35293579101562px;
	height:25px;
	position:absolute;
	left:9px;
	top:349px;
}
.e226_114 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:127px;
	height:25px;
	position:absolute;
	left:4px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_115 { 
	color:rgba(255, 255, 255, 1);
	width:135.35293579101562px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_116 { 
	width:359px;
	height:35px;
	position:absolute;
	left:16px;
	top:902px;
}
.e226_117 { 
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:359px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_118 { 
	color:rgba(255, 255, 255, 1);
	width:98.18803405761719px;
	height:24px;
	position:absolute;
	left:130.9171905517578px;
	top:6px;
	font-family:Lexend;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e226_119 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:393px;
	height:26px;
	position:absolute;
	left:0px;
	top:626px;
}
.e226_120 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:393px;
	height:26px;
	position:absolute;
	left:0px;
	top:626px;
}
.e226_121 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:138px;
	position:absolute;
	left:16px;
	top:470px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.226_121 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_122 { 
	background-color:rgba(255, 255, 255, 1);
	width:111px;
	height:80px;
	position:absolute;
	left:142px;
	top:702px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.226_122 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_123 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:121px;
	top:748px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_124 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:29px;
	position:absolute;
	left:167px;
	top:722px;
	font-family:Lexend;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e226_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:111px;
	height:80px;
	position:absolute;
	left:264px;
	top:702px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_125 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_126 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:246px;
	top:748px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_127 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:29px;
	position:absolute;
	left:289px;
	top:722px;
	font-family:Lexend;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e226_128 { 
	background-color:rgba(255, 255, 255, 1);
	width:111px;
	height:80px;
	position:absolute;
	left:16px;
	top:702px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_128 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_129 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:0px;
	top:748px;
	font-family:Lexend;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e226_130 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:29px;
	position:absolute;
	left:45px;
	top:722px;
	font-family:Lexend;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e226_131 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:37px;
	position:absolute;
	left:16px;
	top:789px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_131 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_132 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:122px;
	top:799px;
	font-family:Lexend;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e226_133 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:37px;
	position:absolute;
	left:15px;
	top:833px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e226_133 { 
	border:1px solid rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
}
.e226_134 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:17px;
	position:absolute;
	left:122px;
	top:842px;
	font-family:Lexend;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e226_135 { 
	color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:366px;
	height:21px;
	position:absolute;
	left:31px;
	top:483px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e226_136 { 
	transform: rotate(-9.93923337957349e-17deg);
	width:393.0203552246094px;
	height:0px;
	position:absolute;
	left:0px;
	top:888px;
}
.e226_136 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e226_140 { 
	background-color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 0.75);
	width:393px;
	height:851.0205078125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e226_141 { 
	background-color:rgba(255, 255, 255, 1);
	width:366px;
	height:544px;
	position:absolute;
	left:17px;
	top:160.5px;
	border-radius:10px;
}
.e226_151 { 
	color:rgba(0, 0, 0, 1);
	width:288px;
	height:54px;
	position:absolute;
	left:51px;
	top:337px;
	font-family:Lexend;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e226_147 { 
	width:306px;
	height:45px;
	position:absolute;
	left:44px;
	top:597px;
}
.e226_148 { 
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:306px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e226_149 { 
	color:rgba(255, 255, 255, 1);
	width:175.5px;
	height:21.600000381469727px;
	position:absolute;
	left:65.45454406738281px;
	top:12px;
	font-family:Lexend;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e226_145 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:58px;
	position:absolute;
	left:42px;
	top:241px;
	font-family:Lexend;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e226_144 { 
	width:120px;
	height:120px;
	position:absolute;
	left:138px;
	top:427px;
	background-image:url(../images/images_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
