.e20_326 { 
	overflow:hidden;
}
.e20_326 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e20_387 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:58px;
	position:absolute;
	left:35px;
	top:225px;
	font-family:Lexend;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e20_388 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:76px;
	top:154px;
}
.e20_389 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:106px;
	top:154px;
}
.e20_390 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:136px;
	top:154px;
}
.e20_397 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:35px;
	top:144px;
}
.e20_397 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e45_11 { 
	width:111px;
	height:30px;
	position:absolute;
	left:35px;
	top:144px;
}
.e20_400 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:41px;
	top:10px;
}
.e20_401 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:71px;
	top:10px;
}
.e20_402 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:101px;
	top:10px;
}
.e20_409 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_409 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e24_787 { 
	width:14px;
	height:17px;
	position:absolute;
	left:8px;
	top:7px;
	background-image:url(../images/66951_map_google_pin_icons_maps_computer_maker_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_824 { 
	border-radius:500px;
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:337px;
	top:787px;
}
.e68_672 { 
	transform: rotate(-180deg);
	width:28px;
	height:26px;
	position:absolute;
	left:345px;
	top:797px;
	background-image:url(../images/imageedit_12_9415759683_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e68_673 { 
	border-radius:500px;
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:337px;
	top:787px;
}
.e68_674 { 
	transform: rotate(-180deg);
	width:28px;
	height:26px;
	position:absolute;
	left:345px;
	top:796px;
	background-image:url(../images/imageedit_12_9415759683_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_198 { 
	background-color:rgba(255, 255, 255, 0);
	width:332px;
	height:52px;
	position:absolute;
	left:35px;
	top:296px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e208_198 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e208_199 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:18px;
	position:absolute;
	left:81px;
	top:312px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e208_202 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:18px;
	position:absolute;
	left:81px;
	top:369px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e208_200 { 
	width:20px;
	height:20px;
	position:absolute;
	left:48px;
	top:312px;
	background-image:url(../images/3917754_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_201 { 
	width:40px;
	height:40px;
	position:absolute;
	left:35px;
	top:361px;
	background-image:url(../images/download_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e216_490 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:14px;
	top:154px;
}
