.e20_349 { 
	overflow:hidden;
}
.e24_846 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_853 { 
	width:33px;
	height:25px;
	position:absolute;
	left:5px;
	top:8px;
}
.e24_847 { 
	transform: rotate(-180deg);
	width:33px;
	height:25px;
	position:absolute;
	left:0.6px;
	top:4px;
	background-image:url(../images/imageedit_18_7895232334_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_15 { 
	width:40px;
	height:40px;
	position:absolute;
	left:337px;
	top:1050px;
}
.e20_349 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:1106px;
	position:absolute;
}
.e20_410 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:58px;
	position:absolute;
	left:35px;
	top:206px;
	font-family:Lexend;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.e20_410_1 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:58px;
	position:absolute;
	left:35px;
	top:197px;
	font-family:Lexend;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e45_16 { 
	width:72px;
	height:30px;
	position:absolute;
	left:14px;
	top:144px;
}
.e20_412 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:62px;
	top:10px;
}
.e20_421 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:21px;
	top:0px;
}
.e20_435 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:62px;
	top:10px;
}
.e20_444 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:21px;
	top:0px;
}
.e24_789 { 
	width:17px;
	height:16px;
	position:absolute;
	left:27px;
	top:7px;
	background-image:url(../images/screen_shot_2022_11_29_at_9_22_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e20_411 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:0px;
	top:10px;
}
.e24_871 { 
	color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35px;
	top:282px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_881 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35px;
	top:322px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_882 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35px;
	top:343px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_884 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35px;
	top:388px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_885 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35px;
	top:409px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_874 { 
	color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:37px;
	top:544px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_880 { 
	transform: rotate(-0.1595978608161296deg);
	width:359.00140380859375px;
	height:0px;
	position:absolute;
	left:35px;
	top:310px;
}
.e24_880 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e24_883 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e24_883 { 
	width:359.0055847167969px;
	height:0px;
	position:absolute;
	left:34.997314453125px;
	top:377px;
}
.e24_886 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:34px;
	top:456px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_887 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:34px;
	top:477px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e24_888 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e24_888 { 
	width:359.00140380859375px;
	height:0px;
	position:absolute;
	left:34.999267578125px;
	top:444.495849609375px;
}
.e24_889 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e24_889 { 
	width:358.00140380859375px;
	height:0px;
	position:absolute;
	left:34.999267578125px;
	top:511.5px;
}
.e24_890 { 
	transform: rotate(-180deg);
	width:16px;
	height:20px;
	position:absolute;
	left:360px;
	top:335px;
	background-image:url(../images/icon_ios7_arrow_back_512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_892 { 
	transform: rotate(-180deg);
	width:16px;
	height:20px;
	position:absolute;
	left:360px;
	top:472px;
	background-image:url(../images/icon_ios7_arrow_back_512_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_891 { 
	transform: rotate(-180deg);
	width:16px;
	height:20px;
	position:absolute;
	left:360px;
	top:404px;
	background-image:url(../images/icon_ios7_arrow_back_512_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e50_4 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35.002685546875px;
	top:584px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e50_5 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35.002685546875px;
	top:605px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e50_6 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:21px;
	position:absolute;
	left:35px;
	top:650px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e50_7 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:35.002685546875px;
	top:671px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e50_8 { 
	transform: rotate(-0.1595978608161296deg);
	width:359.00140380859375px;
	height:0px;
	position:absolute;
	left:35.002685546875px;
	top:572px;
}
.e50_8 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e50_9 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e50_9 { 
	width:359.0055847167969px;
	height:0px;
	position:absolute;
	left:35px;
	top:639px;
}
.e50_10 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e50_10 { 
	width:359.00140380859375px;
	height:0px;
	position:absolute;
	left:35.001953125px;
	top:706.495849609375px;
}
.e50_11 { 
	transform: rotate(-180deg);
	width:16px;
	height:20px;
	position:absolute;
	left:360px;
	top:600px;
	background-image:url(../images/icon_ios7_arrow_back_512_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e50_12 { 
	transform: rotate(-180deg);
	width:16px;
	height:20px;
	position:absolute;
	left:360px;
	top:659px;
	background-image:url(../images/icon_ios7_arrow_back_512_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e50_23 { 
	color:rgba(179.81981813907623, 179.81981813907623, 179.81981813907623, 1);
	width:156px;
	height:21px;
	position:absolute;
	left:36px;
	top:739px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e50_24 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:21px;
	position:absolute;
	left:34px;
	top:779px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e50_28 { 
	transform: rotate(-0.1595978608161296deg);
	width:359.00140380859375px;
	height:0px;
	position:absolute;
	left:34.002685546875px;
	top:767px;
}
.e50_28 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e68_688 { 
	border-radius:500px;
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:338px;
	top:795px;
}
.e68_689 { 
	transform: rotate(-180deg);
	width:28px;
	height:26px;
	position:absolute;
	left:345px;
	top:806px;
	background-image:url(../images/imageedit_12_9415759683_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e50_36 { 
	width:350px;
	height:230px;
	position:absolute;
	left:16px;
	top:802px;
	background-image:url(../images/imageedit_1_8439599158_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e68_690 { 
	border-radius:500px;
	background-color:rgba(235.0000011920929, 147.00000643730164, 38.0000015348196, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:338px;
	top:795px;
}
.e68_691 { 
	transform: rotate(-180deg);
	width:28px;
	height:26px;
	position:absolute;
	left:346px;
	top:804px;
	background-image:url(../images/imageedit_12_9415759683_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e68_744 { 
	width:51px;
	height:30px;
	position:absolute;
	left:14px;
	top:144px;
}
.e68_745 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:0px;
	top:10px;
}
.e68_746 { 
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:17px;
	position:absolute;
	left:25px;
	top:4px;
	font-family:Lexend;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e68_747 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:21px;
	top:0px;
}
.e68_748 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:18px;
	top:-2px;
}
.e68_748 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e68_749 { 
	width:12px;
	height:12px;
	position:absolute;
	left:48px;
	top:153px;
	background-image:url(../images/screen_shot_2022_11_29_at_9_22_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}