* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v23_140 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_141 {
  width: 358px;
  height: 28px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_142 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v23_143 {
  width: 60px;
  height: 60px;
  background: url("../images/v23_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 26px;
  overflow: hidden;
}

.v23_147 {
  width: 79px;
  color: rgba(212,206,53,1);
  position: absolute;
  top: 431px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_148 {
  width: 77px;
  color: rgba(235,147,38,1);
  position: absolute;
  top: 345px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_149 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 296px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v23_150 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 398px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v23_151 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 385px;
  left: 142px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v23_152 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 367px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v23_157 {
  width: 20px;
  height: 15px;
  background: url("../images/v23_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 350px;
  overflow: hidden;
}
.v23_158 {
  width: 368px;
  height: 121px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 12px;
  border: 1.5px solid rgba(179,179,179,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_159 {
  width: 79px;
  color: rgba(67,170,65,1);
  position: absolute;
  top: 301px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_160 {
  width: 62px;
  color: rgba(235,147,38,1);
  position: absolute;
  top: 215px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_161 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 215px;
  left: 296px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v23_162 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 268px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v23_163 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 255px;
  left: 133px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: 500;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v23_164 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 237px;
  left: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v23_168 {
  width: 20px;
  height: 15px;
  background: url("../images/v23_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 303px;
  left: 350px;
  overflow: hidden;
}
.v23_169 {
  width: 368px;
  height: 121px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 12px;
  border: 1.5px solid rgba(179,179,179,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_170 {
  width: 79px;
  color: rgba(67,170,65,1);
  position: absolute;
  top: 172px;
  left: 97px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v23_172 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 41px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v23_173 {
  width: 15px;
  height: 15px;
  background: url("../images/v23_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 17px;
  overflow: hidden;
}
.v23_174 {
  width: 25px;
  height: 25px;
  background: url("../images/v23_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 357px;
  overflow: hidden;
}
.v23_175 {
  width: 60px;
  height: 60px;
  background: url("../images/v23_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  top: 345px;
  left: 26px;
  overflow: hidden;
}
.v23_178 {
  width: 368px;
  height: 121px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 13px;
  overflow: hidden;
}
.v23_179 {
  width: 62px;
  color: rgba(235,147,38,1);
  position: absolute;
  top: 8px;
  left: 84px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_180 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 284px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v23_181 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 84px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v23_182 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 130px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: 500;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v23_183 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 84px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: 500;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}

.v23_184 {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 14px;
  overflow: hidden;
}


.v23_186 {
  width: 60px;
  height: 60px;
  background: url("../images/v23_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;

}
.name {
  color: #fff;
}

.v23_191 {
  width: 20px;
  height: 15px;
  background: url("../images/v23_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 338px;
  overflow: hidden;
}
.v23_192 {
  width: 368px;
  height: 121px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(179,179,179,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.line_1 {
  position: absolute;
  width: 393px;
  height: 0px;
  top: 55px;
  border: 1px solid #D9D9D9;
}
.star_1 {
  color: black;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 97px;
  top: 120px;
}
.star_2 {
  color: black;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 97px;
  top: 249px;
}

.star_3 {
  color: black;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 97px;
  top: 379px;
}
