* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v22_65 {
  width: 393px;
  height: 852px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_66 {
  width: 358px;
  height: 28px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v22_67 {
  width: 394px;
  height: 861px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v22_68 {
  width: 395px;
  height: 717px;
  background: url("../images/v22_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 0px;
  overflow: hidden;
}
.v22_69 {
  width: 187px;
  height: 45px;
  background: url("../images/v22_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 185px;
  overflow: hidden;
}
.v22_70 {
  width: 187px;
  height: 45px;
  background: rgba(235,147,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v22_71 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 40px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v22_74 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 41px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_75 {
  width: 15px;
  height: 15px;
  background: url("../images/v22_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 17px;
  overflow: hidden;
}
.v22_76 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 800px;
  left: 36px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v22_77 {
  width: 256px;
  height: 423px;
  background: url("../images/v22_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 50px;
  overflow: hidden;
}
.v22_78 {
  width: 393px;
  height: 83px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v22_80 {
  width: 45px;
  height: 45px;
  background: url("../images/v22_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 833px;
  left: 63px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v22_81 {
  width: 45px;
  height: 45px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  transform: rotate(-180deg);
}
.v22_82 {
  width: 37px;
  height: 27px;
  background: url("../images/v22_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 43px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v22_83 {
  width: 306px;
  height: 45px;
  background: url("../images/v22_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 77px;
  overflow: hidden;
}
.v22_84 {
  width: 306px;
  height: 45px;
  background: rgba(235,147,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v22_85 {
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 65px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v22_86 {
  width: 393px;
  height: 324px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v22_88 {
  width: 367px;
  height: 42px;
  background: url("../images/v22_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 15px;
  overflow: hidden;
}
.v22_89 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_90 {
  width: 156px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 21px;
  left: 0px;
  font-family: Lexend;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_91 {
  width: 16px;
  height: 20px;
  background: url("../images/v22_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 350px;
  transform: rotate(-180deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v22_92 {
  width: 367px;
  height: 41px;
  background: url("../images/v22_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 487px;
  left: 15px;
  overflow: hidden;
}
.v22_93 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_94 {
  width: 156px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 21px;
  left: 0px;
  font-family: Lexend;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_95 {
  width: 16px;
  height: 20px;
  background: url("../images/v22_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 350px;
  transform: rotate(-180deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v22_96 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 555px;
  left: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_97 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 453px;
  left: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.line_1 {
  position: absolute;
  width: 393px;
  height: 0px;
  top: 75px;
  border: 1px solid #D9D9D9;
}
.line_2 {
  position: absolute;
  width: 393px;
  height: 0px;
  top: 536px;
  border: 0.5px solid #D9D9D9;
}
.line_3 {
  position: absolute;
  width: 393px;
  height: 0px;
  top: 769px;
  border: 0.5px solid #D9D9D9;
}
.circle{
  position: absolute;
  height: 45px;
  width: 45px;
  top: 788px;
  left: 18px;
  border-radius: 50%;
  border:2px solid rgba(235,147,38,1);
}
.v3_46 {
  width: 37.13px;
  height: 27px;
  background: url("../images/yz3_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 20.25px;
  transform: rotate(0deg);
  overflow: hidden;
}
.v3_48 {
  width: 37.13px;
  height: 27px;
  background: url("../images/yz3_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 20.25px;
  overflow: hidden;
}
