* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.yz1_2 {
  width: 393px;
  height: 852px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.yz1_3 {
  width: 358px;
  height: 28px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.yz1_4 {
  width: 394px;
  height: 861px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.yz1_5 {
  width: 97px;
  height: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 150px;
  left: 231px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.yz1_6 {
  width: 53px;
  height: 12px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 133px;
  left: 253px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.yz1_7 {
  width: 165px;
  height: 60px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 197px;
  border: 1px solid rgba(179,179,179,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.yz1_8 {
  width: 165px;
  height: 60px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 24px;
  border: 1px solid rgba(179,179,179,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.yz1_9 {
  width: 187px;
  height: 45px;
  background: url("../images/v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 185px;
  overflow: hidden;
}
.yz1_10 {
  width: 187px;
  height: 45px;
  background: rgba(235,147,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.yz1_11 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 40px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.yz1_12 {
  width: 393px;
  height: 695px;
  background: url("../images/yz1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.yz1_14 {
  width: 333px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 89px;
  left: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.yz1_16 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 41px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Lexend;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.yz1_17 {
  width: 15px;
  height: 15px;
  background: url("../images/yz1_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 17px;
  overflow: hidden;
}
.yz1_18 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 800px;
  left: 36px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.yz1_19 {
  width: 53px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 133px;
  left: 80px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.yz1_20 {
  width: 256px;
  height: 423px;
  background: url("../images/v1_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 50px;
  overflow: hidden;
}
.yz1_21 {
  width: 393px;
  height: 83px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 0px;
  overflow: hidden;
}
.yz1_22 {
  width: 187px;
  height: 45px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 185px;
  overflow: hidden;
}
.yz1_23 {
  width: 187px;
  height: 45px;
  background: rgba(235,147,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.yz1_24 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 40px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.yz1_26 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 800px;
  left: 36px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.yz1_27 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 150px;
  left: 58px;
  font-family: Lexend;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.line_1 {
  position: absolute;
  width: 393px;
  height: 0px;
  top: 769px;
  border: 0.5px solid #D9D9D9;
}
