.20_326 { 
	overflow:hidden;
}
.e20_326 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e20_387 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:58px;
	position:absolute;
	left:35px;
	top:225px;
	font-family:Lexend;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e20_388 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:76px;
	top:154px;
}
.e20_389 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:106px;
	top:154px;
}
.e20_390 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:136px;
	top:154px;
}
.e20_397 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:35px;
	top:144px;
}
.20_397 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e45_11 { 
	width:111px;
	height:30px;
	position:absolute;
	left:35px;
	top:144px;
}
.e20_400 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:41px;
	top:10px;
}
.e20_401 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:71px;
	top:10px;
}
.e20_402 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:101px;
	top:10px;
}
.e20_409 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.20_409 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e24_787 { 
	width:14px;
	height:17px;
	position:absolute;
	left:8px;
	top:7px;
	background-image:url(../images/66951_map_google_pin_icons_maps_computer_maker_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_818 { 
	width:322px;
	height:446px;
	position:absolute;
	left:35px;
	top:316px;
	background-image:url(../images/screen_shot_2022_11_29_at_9_51_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_824 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:337px;
	top:795px;
}
.e24_825 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-180deg);
	width:33px;
	height:24px;
	position:absolute;
	left:375px;
	top:827px;
	background-image:url(../images/icon_ios7_arrow_back_512_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_14 { 
	width:40px;
	height:40px;
	position:absolute;
	left:337px;
	top:795px;
}
.e24_826 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_827 { 
	transform: rotate(-180deg);
	width:33px;
	height:25px;
	position:absolute;
	left:4.5px;
	top: 12px;
	background-image:url(../images/imageedit_18_7895232334_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
